### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [353]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [354]:
players= purchase_data['SN'].nunique()
players = {'Total Players': [players]}
players_df = pd.DataFrame(players)
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [355]:
#Run basic calculations to obtain number of unique items, average price, etc.
#check if mean and count is correct
stats=purchase_data['Price'].describe()
unique_items = purchase_data['Item ID'].nunique()
average_price = (round(purchase_data['Price'].mean(),2))
num_purchases = purchase_data['Item ID'].count()
tot_revenue = purchase_data['Price'].sum()

#Create a summary data frame to hold the results
summary_df = {'Number of unique items':[unique_items], 
              'Average Price':[average_price],
              'Number of Purchases': [num_purchases],
              'Total Revenue': [tot_revenue]} 
summary_view_df = pd.DataFrame(summary_df)
#summary_view_df

#give the displayed data cleaner formatting
summary_view_df["Average Price"] = summary_view_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_view_df["Total Revenue"] = summary_view_df["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_view_df

   Number of unique items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [356]:
#sorting and removing duplicates to get unique values 
unique_df =pd.Series(purchase_data['SN'].unique()).sort_values()
remove_dup = purchase_data.drop_duplicates(subset=['SN'])

#Percentage of Players by gender 
percent_gender = round(pd.DataFrame({'Percentage': purchase_data.groupby(('Gender')).size() / len(purchase_data)}) * 100, 2).astype(str) + '%'

#count of Players by gender 
tot_count_gender = remove_dup.groupby(['Gender']).size()

#Create a summary data frame to hold the results
summary_gender_df = ({'Total Count':tot_count_gender,'Percentage of Players':percent_gender})

summary_gender_df

{'Total Count': Gender
 Female                    81
 Male                     484
 Other / Non-Disclosed     11
 dtype: int64,
 'Percentage of Players':                       Percentage
 Gender
 Female                    14.49%
 Male                      83.59%
 Other / Non-Disclosed      1.92%}

In [143]:
#check_stat = purchase_data.groupby('Gender').describe()
#check_stat


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [357]:
#Run basic calculations to obtain purchase count
pur_id_count = purchase_data.groupby(['Gender']).count()[['Purchase ID']]
av_purchase_px = purchase_data.groupby(['Gender']).mean()[['Price']]
tot_purchase_val = purchase_data.groupby(['Gender']).sum()[['Price']]
av_tot_purchase_person = tot_purchase_val/ tot_count_gender


#Create a summary data frame to hold the results

purchase_summary_df = ({'Purchase Count':pur_id_count, 
                        'Average Purchase Price':av_purchase_px,
                        'Total Purchase Value': tot_purchase_val,
                        'Avg Total Purchase per person': av_tot_purchase_person})

#purchase_summary_df.index.name = "Gender"
#df = pd.DataFrame.purchase_summary_df([{'Purchase Count':pur_id_count, 'Average Purchase Price':av_purchase_px,'Total Purchase Value': tot_purchase_val,'Avg Total Purchase per person': av_tot_purchase_person }])
#test = pd.Series(purchase_summary_df).to_frame()
#purchase_summary_view_df = pd.DataFrame([purchase_summary_df])
#test

#give the displayed data cleaner formatting
#purchase_summary_df["Average Purchase Price"] = purchase_summary_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
#purchase_summary_df["Total Purchase Value"] = purchase_summary_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
#purchase_summary_df["Avg Total Purchase per person"] = purchase_summary_df["Avg Total Purchase per person"].astype(float).map("${:,.2f}".format)
purchase_summary_df

{'Purchase Count':                        Purchase ID
 Gender
 Female                         113
 Male                           652
 Other / Non-Disclosed           15,
 'Average Purchase Price':                           Price
 Gender
 Female                 3.203009
 Male                   3.017853
 Other / Non-Disclosed  3.346000,
 'Total Purchase Value':                          Price
 Gender
 Female                  361.94
 Male                   1967.64
 Other / Non-Disclosed    50.19,
 'Avg Total Purchase per person':                        Female  Male  Other / Non-Disclosed  Price
 Gender
 Female                    NaN   NaN                    NaN    NaN
 Male                      NaN   NaN                    NaN    NaN
 Other / Non-Disclosed     NaN   NaN                    NaN    NaN}

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [358]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [359]:
remove_dup["Age Summary"] = pd.cut(remove_dup["Age"], bins, labels=labels, include_lowest=True)
age_totals =remove_dup["Age Summary"].value_counts()

age_totals

<ipython-input-359-b679580c8aba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  remove_dup["Age Summary"] = pd.cut(remove_dup["Age"], bins, labels=labels, include_lowest=True)

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Summary, dtype: int64

In [364]:
#percent_players = round(pd.DataFrame({'Percentage': age_totals.size() / len(age_totals)}) * 100, 2).astype(str) + '%'

percent_players = round(age_totals / players * 100, 2).astype(str) + '%'

Age_Demographics_df = pd.DataFrame({'Total count':age_totals,
                        'Percentage of Players': percent_players})

Age_Demographics_df.sort_index()
Age_Demographics_df

TypeError: <class 'dict'>

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [365]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins=bins, labels=labels)
age_group = purchase_data.groupby("Age Range")
age_purchases_count = age_group["SN"].count()
ave_purchase_px = round(age_group["Price"].mean(),2).astype(float).map("${:,.2f}".format) 
total_purchase_val = round(age_group["Price"].sum(),2).astype(float).map("${:,.2f}".format)
#ave_total_purchase_pperson = total_purchase_val/age_totals
#ave_total_purchase_pperson

purchasing_analysis = pd.DataFrame({'Purchase count':age_purchases_count,
                                    'Average Purchase Price': ave_purchase_px,
                                    'Total Purchase Value': total_purchase_val})
purchasing_analysis.sort_index()
purchasing_analysis

#need to add ave_total_purchase_pperson to summary

           Purchase count Average Purchase Price Total Purchase Value
Age Range
<10                    23                  $3.35               $77.13
10-14                  28                  $2.96               $82.78
15-19                 136                  $3.04              $412.89
20-24                 365                  $3.05            $1,114.06
25-29                 101                  $2.90              $293.00
30-34                  73                  $2.93              $214.00
35-39                  41                  $3.60              $147.67
40+                    13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [445]:
topspenders_df = pd.DataFrame(purchase_data)
top_spender_sn = topspenders_df.groupby(['SN'])

purchase_count = top_spender_sn['Item ID'].count()
 
tot_purchase_val = round(top_spender_sn['Price'].sum(),2).astype(float).map("${:,.2f}".format) 

ave_purchase_px = round(top_spender_sn['Price'].mean(),2).astype(float).map("${:,.2f}".format) 
#tot_purchase_val
top_spenders_analysis = pd.DataFrame({'Purchase count':purchase_count,
                                  'Average Purchase Price': ave_purchase_px ,
                                  'Total Purchase Value': tot_purchase_val})

top_spenders_df = top_spenders_analysis.sort_values(by = ["Purchase count"], ascending=False)

top_spenders_df.head()

#sort not correct for Total Purchase Value

             Purchase count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [442]:
#Retrieve the Item ID, Item Name, and Item Price columns
purchase_data_extract = purchase_data.loc[:, ["Item ID", "Item Name","Price"]]
most_pop_df = pd.DataFrame(purchase_data_extract)

#group by Item ID and Item Name 
most_pop_items = most_pop_df.groupby(['Item ID', 'Item Name'])

purchase_count = most_pop_items['Price'].count()
 

tot_purchase_val = round(most_pop_items['Price'].sum(),2).astype(float).map("${:,.2f}".format) 
item_px = round(most_pop_items['Price'].mean(),2).astype(float).map("${:,.2f}".format) 

most_popular_analysis = pd.DataFrame({'Purchase count':purchase_count,
                                  'Item Price': item_px ,
                                  'Total Purchase Value': tot_purchase_val})

most_popular_df = most_popular_analysis.sort_values(by = ["Purchase count"], ascending=False)

most_popular_df.head()

,,Purchase count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [446]:
most_profitable_df = most_popular_analysis.sort_values(by = ["Total Purchase Value"], ascending=False)
most_profitable_df.head()

#figure our sort for total purchase value

,,Purchase count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36